<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FolderName_Updates" value="Updates" />
    <add key="FolderName_Completed" value="Completed" />
    <add key="RootFolder" value="\..\..\..\..\..\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>